<a href="https://colab.research.google.com/github/hjn14133/Machine-Learning/blob/main/Random_Forest_Temperature_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load the data
features = pd.read_csv('temps.csv')
features.head()

   year  month  day  week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1   Fri  ...             43            50              44      29
1  2016      1    2   Sat  ...             41            50              44      61
2  2016      1    3   Sun  ...             43            46              47      56
3  2016      1    4   Mon  ...             44            48              46      53
4  2016      1    5  Tues  ...             46            46              46      41

[5 rows x 12 columns]

In [3]:
# Identify anomalies and missing data
print('The shape of our feature is: ', features.shape)

The shape of our feature is:  (348, 12)

In [5]:
# Descriptive statistics for each column
features.describe()

         year       month         day  ...  forecast_acc  forecast_under      friend
count   348.0  348.000000  348.000000  ...    348.000000      348.000000  348.000000
mean   2016.0    6.477011   15.514368  ...     62.373563       59.772989   60.034483
std       0.0    3.498380    8.772982  ...     10.549381       10.705256   15.626179
min    2016.0    1.000000    1.000000  ...     46.000000       44.000000   28.000000
25%    2016.0    3.000000    8.000000  ...     53.000000       50.000000   47.750000
50%    2016.0    6.000000   15.000000  ...     61.000000       58.000000   60.000000
75%    2016.0   10.000000   23.000000  ...     72.000000       69.000000   71.000000
max    2016.0   12.000000   31.000000  ...     82.000000       79.000000   95.000000

[8 rows x 11 columns]

In [6]:
# One-hot encode the data using pandas get_dummies
features = pd.get_dummies(features)

features.iloc[:, 5:].head()

   average  actual  forecast_noaa  ...  week_Thurs  week_Tues  week_Wed
0     45.6      45             43  ...           0          0         0
1     45.7      44             41  ...           0          0         0
2     45.8      41             43  ...           0          0         0
3     45.9      40             44  ...           0          0         0
4     46.0      44             46  ...           0          1         0

[5 rows x 13 columns]

In [ ]:
features.drop(['forecast_noaa', 'forecast_acc', 'forecast_under'] , 
              axis = 1)